<h3>Users by Voting Power</h3>
<% @users.order! 'voting_power DESC' %>
<ul class="curation">
<% @users.each do |user| %>
  <% if user.activated? %>
    <li>
    <div class="listname">
      <%= user.name %>
      <% if !current_user?(user) && current_user.admin? %>
         | <%= link_to "delete", user, method: :delete, 
	                               data: { confirm: "Are you sure?" } %>  
      <% end %>
    </div>
    <div class="votingpower"><%= user.voting_power.round(4) %></div>
    </li>
  <% end %>
<% end %>
<%= will_paginate %>
