<h3>All users</h3>
<% @users.each do |user| %>
  <% if user.activated? %>
    <p><%= user.name %></p>
    <% if !current_user?(user) && current_user.admin? %>
       | <%= link_to "delete", user, method: :delete, 
	                             data: { confirm: "Are you sure?" } %>  
    <% end %>
  <% end %>
<% end %>
