<h3>Our Goal</h3>
<p>rVerify was founded on the premise that real news can be found by finding a balence between the biases of an individual and the bias of different groups. By coming together as curators and selecting news objective to ourselves, we can build a better picture of these individual views to create one build on consensus rather than the polarization of competing ideologies.</p>
