<h3>Our Goal</h3>
<p>Newsiphy was founded on the premise that real news can be found by finding a balence between the biases of an individual and the bias of different groups. By coming together as curators and selecting news objective to ourselves, we can build a better picture of these individual views to create one built on consensus rather than the polarization of competing ideologies.</p>

<h3>Curation</h3>
<p>Anyone can be a curator on the site, allowing your voice and your opinion to be heard. But what makes newsiphy different from other sites that provide new articles? Its our dedication to whats right and not accepting the mainstream narrative. We achieve this goal through our Consensus Engine and by giving the users the control over the website. Here's how we improve upon old way of voting on content:</p>
<ul class="curation">
  <li>More Nuisance: A 1-10 rating allows more expressive voting options</li>
  <li>Minority Protection: Our algorithm seeks to protect minority opinions that may disagree with the majority</li>
  <li>Consensus Enhancement: Articles with more agreement tend to be higher than those that aren't</li>
  <li>Weighted Votes: Users that rate consistently, constantly, and accurately will have most influence on an articles rating</li>
  <li>Voting Power: Users of the website are able to vote on future improvements to the website and decide the future of Newsiphy</li>
</ul>

