<h3>Curation</h3>
<p>Anyone can be a curator on the site, allowing your voice and your opinion to be heard, but we do have some guidelines to help facilitate your curating abilities and keep the ratings somewhat consistent.</p>
<ul class="curation">
  <li>0: This article is straight made up and has no basis in reality.</li>
  <li>1: This article seeks to deceive and the arguments are unsupported.</li>
  <li>2: This article heavily favors a single position and provides little or no support for the position.</li>
  <li>3: This article heavily favors a single position and provides some evidence, though may be misleading.</li>
  <li>4: This article may favor a certain position, but may appear to leave out key details or is poorly written.</li>
  <li>5: This article may favor a certain position, but uses evidence to support claims.</li>
  <li>6: This article may favor a certain postion, but considers most of the evidence, although omitting key evidence from another position.</li>
  <li>7: This article provides evidence for claims but omits important information that may challenge these claims.</li> 
  <li>8: This article appears to be objective, providing evidence for claims, but may lack some key information.</li>
  <li>9: This article appears to be objective, but could be better written or supported.</li>
  <li>10: This article is objective and well-supported fact.</li>
