<h3>Curation</h3>
<p>Anyone can be a curator on the site, allowing your voice and your opinion to be heard. But what makes newsiphy different from other sites that provide new articles. Its our dedication to whats right and not accepting the mainstream narrative. We achieve this goal through our Consensus Engine. Here's how we improve upon old way of voting on content:</p>
<ul class="curation">
  <li>More Nuisance: A 1-10 rating allows more expressive voting options</li>
  <li>Minority Protection: Our algorithm seeks to protect minority opinions that may disagree with the majority</li>
  <li>Consensus Enhancement: Articles with more agreement tend to be higher than those that aren't</li>
  <li>More to come as we continue to develop...</li>
</ul>
