<div class="center jumbotron">
  <h1 id="home">start living freely</h1>
  <p id="home-descript">Life does not live itself. Organize your tasks to better manage your time so you can spend less time doing the things you need to do and more time doing the things you love.</p>
  <div id="home-button">
    <%= link_to "Create Account", signup_path, class: "btn btn-lg btn-danger" %>
  </div>
</div>
