@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
  p, h3 {
    font-family: "Futura", sans-serif;
  }
  padding-top: 40px;
  .container {
    padding: 0px;
  }
}

ul {
  li {
    font-family: "Futura", sans-serif;
  }
  list-style: none;
  padding-left: 0;
}

/* Header */

header { 
  background-color: #dd0d0d;
}

#header-item a {
  color: #ffffff;
  &:hover {
    background-color: #ffffff;
    color: #dd0d0d;
  }
}

#title {
  font-size: 1.5em;
  margin: 15px 0px;
  color: #ffffff;
}

/* Homepage */

.jumbotron {
  background-color: white;
  margin: 0px;
  p, h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  p {
    font-size: 1.1em;
  }
}

.panel-body {
  font-family: "Futura", sans-serif;  
  font-size: 1.1em;
  border: 5px solid #eeeeee;
  padding: 0px;
}

.pager {
  float: right;
}

/* Errors */

#form_errors {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 30px 0;
    color: red;
  } 
}

/* Forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 5px;
  span {
    margin-left: 25px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}