@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
  padding-top: 50px;
  background-color: #d3d3d3;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Header */

header { 
  background-color: #b22222;
}

#header-item a {
  color: #d3d3d3;
  &:hover {
    background-color: #d3d3d3;
    color: #b22222;
  }
}

#title {
  font-size: 1.5em;
  margin: 15px;
  color: #d3d3d3;
}

/* Homepage */

#home {
  text-align: center;
  color: #b22222;
  font-style: italic;
  padding-bottom: 4px;
}

#home-descript {
  text-align: center;
  padding-bottom: 4px;
}

#home-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & .btn {
    background-color: #b22222;
    color: #d3d3d3;
    &:hover {
      background-color: #d3d3d3;
      color: #b22222;
    }
  }
}

/* Errors */

#form_errors {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 30px 0;
    color: red;
  } 
}
