@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
  p, h3 {
    font-family: "Futura", sans-serif;
  }
  padding-top: 20px;
  .container {
    padding: 0px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Header */

header { 
  background-color: #b22222;
}

#header-item a {
  color: #d3d3d3;
  &:hover {
    background-color: #d3d3d3;
    color: #b22222;
  }
}

#title {
  font-size: 1.5em;
  margin: 15px 0px;
  color: #d3d3d3;
}

/* Homepage */

.jumbotron {
  background-color: #d3d3d3;
  p {
    text-align: center;
  }
  .pager {
    align: center;
  }
}

.panel-body {
  font-size: 1.1em;
  background-color: #ffeeff;
}

/* Errors */

#form_errors {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 30px 0;
    color: red;
  } 
}

/* Forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 5px;
  span {
    margin-left: 25px;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}