.user {
  list-style: none;
  margin: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #000000;
  } 
}

.listname {
  display: inline-block;
  text-align: left;
  width: 90%;
}

.votingpower {
  display: inline-block;
  text-align: right;
}
