<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <h3 id="title">mentalize</h3>
      <ul class="nav navbar-nav navbar-right">
	<li id="header-item"><%= link_to "Home", root_path %></li>
	<li id="header-item"><%= link_to "About", about_path %></li>
	<li id="header-item"><%= link_to "Login", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
