<header class="navbar navbar-fixed-top">
  <div class="container">
    <h3 id="title">rVerify</h3>
    <nav>
      <ul class="nav navbar-nav navbar-right">
	<li id="header-item"><%= link_to "Home", root_path %></li>
	<li id="header-item"><%= link_to "About", about_path %></li>
	<li id="header-item"><%= link_to "Curation", curation_path %></li>
      </ul>
    </nav>
  </div>
</header>
